.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  /* border-bottom: 1px solid var(--border-subtle); */
  /* padding-bottom: 1rem; */
}

.pageHeaderTitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  color: var(--text-header);
  /* color: #b3b3b3; */
  line-height: 1.2;
}