.sidebar {
  width: 230px;
  /* background-color: var(--bg-app); */
  background-color: var(--bg-app);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  transition: background var(--transition-speed);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* change to flex-start or flex-end easily */
  gap: 10px;
  padding: 1.5rem 1.25rem 2rem 1.25rem
}

.logoContainer:hover {
  animation: pulseGlow 3s ease-in-out infinite;
}

@keyframes pulseGlow {

  0%,
  100% {
    transform: scale(1);
    filter: brightness(1);
  }

  50% {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.logoImage {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.logoText {
  font-size: 1.2rem;
  font-weight: 500;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  margin: 0 8px 0;
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: default;
  -webkit-user-drag: none;
}

.sidebar-item:hover {
  background: var(--btn-ghost-hover);
  color: var(--text-primary);
  border: 1px solid var(--border-subtle);
}

.sidebar-item.active {
  background: var(--bg-card-active);
  color: var(--text-primary);
  border: 1px solid var(--border-subtle);
}

.icon {
  font-size: 18px;
  color: var(--text-secondary);
  transition: color var(--transition-speed);
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  min-width: 18px;
  padding: 0 6px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  background-color: var(--bg-badge);
  color: var(--text-inverse);
  transform: translateY(-0.5px);
}

.topGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* controls spacing between logo + links */
}