.sidebar {
  width: 230px;
  /* background-color: var(--sidebar-bg); */
  background-color: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  transition: background var(--transition-speed);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* change to flex-start or flex-end easily */
  gap: 10px;
  padding: 1.5rem 1.25rem 2rem 1.25rem
}

.logoContainer:hover {
  animation: pulseGlow 3s ease-in-out infinite;
}

@keyframes pulseGlow {

  0%,
  100% {
    transform: scale(1);
    filter: brightness(1);
  }

  50% {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.logoImage {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.logoText {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--sidebar-text);
  white-space: nowrap;
  transition: letter-spacing 0.3s ease, color 0.3s ease;
}

.logoText:hover {
  /* color: var(--accent-color); */
}

.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  margin: 0 8px 0;
  color: var(--sidebar-text-muted);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: default;
  -webkit-user-drag: none;
}

.sidebar-item:hover {
  background: var(--sidebar-hover-bg);
  color: var(--sidebar-hover-text);
  border: 1px solid var(--border-color);
}

.sidebar-item.active {
  background: var(--sidebar-active-bg);
  color: var(--sidebar-active-text);
  border: 1px solid var(--border-color);
}

.icon {
  font-size: 18px;
  color: var(--icon-color);
  transition: color var(--transition-speed);
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  min-width: 18px;
  padding: 0 6px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  background-color: var(--badge-bg);
  color: var(--badge-text);
  transform: translateY(-0.5px);
}

.topGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* controls spacing between logo + links */
}