.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.mainLayout {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  /* background-color: var(--bg-surface); */
  background-color: var(--bg-surface);
  border-top-left-radius: 16px;
  border-left: 1px solid var(--border-subtle);
  border-top: 1px solid var(--border-subtle);
  padding: 2rem;
  overflow-y: auto;
  transition: background-color 0.3s, border 0.3s;
  position: relative;
}